* {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#navbar {

    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 13px;
    font-family: Arial, sans-serif;

}

#left-nav {

    position: absolute;
    left: 18px;

    vertical-align: top;

    margin-top: 7px;

}

#right-nav {

    position: absolute;
    right: 24px;

    vertical-align: top;

}

#navbar li {

    display: inline;

    margin-left: 7px;
    margin-right: 7px;

    vertical-align: middle;

}

#apps-icon {
    
    width: 17px;
    height: 17px;

    padding-left: 4px;
    padding-right: 4px;

    vertical-align: middle;

}

button {

    color: white;
    background-color: #4285f4;

    border: none;

    font-weight: bold;
    font-size: 13px;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;

    vertical-align: middle;

}

form {
    text-align: center;
}

#search-area {
    text-align: center;
}

#logo {

    max-width: 272px;
    max-height: 92px;

    margin-top: 180px;
    margin-bottom: 18px;

}

.search-bar {

    width: 600px;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 15px;
    padding-right: 5px;

    font-size: 16px;

}

.search-buttons {

    text-align: center;

    padding-top: 18px;

}

.search-button {

    background-color: #f2f2f2;
    color: #020202;

    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

}
