* {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

html, body{
    height: 100%;
    width: 100%;
    position: fixed;
}

a {
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
}

#master{
    position: relative;
    min-height: 100%;

    margin: 0 auto;
    padding: 0 0;
}

#navbar {

    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 13px;
    font-family: Arial, sans-serif;

}

#left-nav {

    position: absolute;
    left: 18px;

    vertical-align: top;

    margin-top: 7px;

}

#right-nav {

    position: absolute;
    right: 24px;

    vertical-align: top;

}

#navbar li {

    display: inline;

    margin-left: 7px;
    margin-right: 7px;

    vertical-align: middle;

}

#apps-icon {
    
    width: 16px;
    height: 16px;

    padding-left: 4px;
    padding-right: 4px;

    vertical-align: middle;

    opacity: 0.55;

}

button {

    color: white;
    background-color:#4683ea;
    border: 1px solid #4285f4;

    font-weight: bold;
    font-size: 13px;

    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;

    vertical-align: middle;

}

form {
    text-align: center;
}

#search-area {
    text-align: center;
}


#search-area p {

    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;

    margin-top: 14px;

}

#logo {

    max-width: 272px;
    max-height: 92px;

    margin-top: 180px;
    margin-bottom: 18px;

}

.search-bar {

    width: 540px;

    padding-top: 14px;
    padding-bottom: 14px;

    padding-left: 20px;
    padding-right: 8px;

    font-size: 16px;

    border: 1px solid #dfe1e5;
    border-radius: 24px;

}

.search-buttons {
    padding-top: 16px;
}

.search-button {

    background-color: #f2f2f2;
    color: #5F6368;

    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;

}

#footer {

    height: 98px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;

}

.footbar {

    background-color: #f2f2f2;

    height: auto;

    padding-top: 10px;
    padding-bottom: 30px;

    border-top: 1px solid #e4e4e4;

    vertical-align: middle;

}

.footbar li {

    display: inline;

    margin-left: 11px;
    margin-right: 11px;

    vertical-align: middle;

    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgba(0,0,0,.54);

}

.left-foot {

    position: absolute;
    left: 20px;

    vertical-align: middle;

}

.right-foot {

    position: absolute;
    right: 20px;

    vertical-align: middle;
    
}

.hover-text:hover {
    text-decoration: underline;
}
