* {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

form {
    text-align: center;
}

#search-area {
    text-align: center;
}

#logo {

    max-width: 272px;
    max-height: 92px;

    padding-top: 109px;
    padding-bottom: 18px;

}

.search-bar {

    width: 600px;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 15px;
    padding-right: 5px;

    font-size: 16px;

}

.search-buttons {

    text-align: center;

    padding-top: 18px;

}

.search-button {

    background-color: #f2f2f2;
    color: #020202;

    font-size: 14px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

}
